* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	background-color: #111;
	padding-bottom: 100px;
}

/* NAVBAR */
.header{
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: calc(100vw * 0/1900) calc(100vw * 2/1900) calc(100vw * 10/1900) rgba(0, 0, 0, 0.5);
	position: fixed;
	width: calc(100vw * 1900/1900);
	z-index: 99999;
	padding: calc(100vw * 0/1900);
	margin: calc(100vw * 0/1900);
}

h5 {
	padding: calc(100vw * 0/1900);
	margin: calc(100vw * 0/1900);
	font-family: 'Poppins';
	font-weight: bold;
	font-size: calc(100vw * 20/1900);
}
.header nav{
	position: relative;
	display: flex;
	max-width: calc(100% - 200px);
	margin: calc(100vw * 0/1900) auto;
	height: calc (100vw * 70/1900);
	align-items: center;
	justify-content: space-between;
}

nav .content{
	display: flex;
	align-items: center;
}

nav .content .links{
	margin-left: 100px;
	display: flex;
}

.links {
	position: relative;
	left: calc(100vw * 800/1900);
}

.content .logo a{
	color: #fff;
	font-size: calc(100vw * 50/1900);
	font-weight: 600;
}

.content .links li{
	position: relative;
	list-style: none;
	line-height: 70px;
}

.content .links li a, .content .links li label{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 17px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.content .links li label{
	display: none;
}

.content .links li a:hover, .content .links li label:hover{
	background: #323c4e;
}

.header .menu-icon{
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	line-height: 70px;
	width: 70px;
	text-align: center;
}

.header .menu-icon{
	display: none;
}

.header input[type="checkbox"]{
	display: none;
}

.content .links ul{
	position: absolute;
	background: #171c24;
	top: 80px;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

.content .links li:hover > ul{
	top: 70px;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
}

/* Main Container */
#contact {
	width: 100%;
	height: 100%;
}

.section-header {
	text-align: center;
	margin: 0 auto;
	padding: 69px 0;
	font: 300 60px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.contact-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	max-width: 840px;
}


.form-horizontal {
	max-width: 400px;
	font-family: 'Lato';
	font-weight: 400;
}

.form-control, textarea {
	background-color: #000;
	color: #fff;
	margin-bottom: 10px;
	letter-spacing: 1px;
	padding: 10px 10px;
	width: 100%;
}

.send-button {
	margin-top: 20px;
	height: 40px;
	width: 400px;
	overflow: hidden;
	transition: all .5s ease-in-out;
}

.alt-send-button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
}

.send-text {
	position: relative;
	display: block;
	margin-top: 25px;
	font: 700 12px 'Lato', sans-serif;
	letter-spacing: 2px;
	top: -5px;
}

.alt-send-button:hover {
	transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
	max-width: 400px;
}

.contact-list {
	list-style-type: none;
	margin-left: -30px;
	padding-right: 30px;
}

.list-item {
	line-height: 5;
	color: #aaa;
}

.contact-text {
	font: 300 18px 'Lato', sans-serif;
	letter-spacing: 1.9px;
	color: #bbb;
}

.place {
	margin-left: 62px;
}

.phone {
	margin-left: 56px;
}

.gmail {
	margin-left: 53px;
}

.contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
}

.contact-text a:hover {
	color: #fff;
	text-decoration: none;
}

.social-media-list {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.social-media-list li a {
	color: #fff;
}

.social-media-list li {
	position: relative; 
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 10px 3px;
	line-height: 60px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(27,27,27);
	cursor: pointer; 
	transition: all .2s ease-in-out;
}

.social-media-list li:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 1px #fff;
	transition: all .2s ease-in-out;
}

.social-media-list li:hover {
	background-color: #fff; 
}

.social-media-list li:hover:after {
	opacity: 1;  
	transform: scale(1.12);
}

.social-media-list li:hover a {
	color: #000;
}

.copyright {
	font: 200 14px 'Oswald', sans-serif;
	color: #555;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 12px;
}
.fa-solid {
	position: relative;
	top: 5px;
	font-size: 20px;
}

@media screen and (max-width: 850px) {
.contact-wrapper {
	position: relative;
	margin: calc(100vw * 0/1900);
	padding:calc(100vw * 0/1900);
	display: flex;
	flex-direction: column;
}
.direct-contact-container, .form-horizontal {
	margin: 0 auto;
}  
  
.direct-contact-container {
	margin-top: 60px;
	max-width: 300px;
}    
.social-media-list li {
	height: 60px;
	width: 60px;
	line-height: 60px;
}
.social-media-list li:after {
	width: 60px;
	height: 60px;
	line-height: 60px;
	}
}

/* NAVIGATION QUERY */
@media screen and (max-width: 1250px){
	.container {	
		max-width: calc(100vw * 1900/1900);
		max-height: calc(100vw * 1900/1900);
	}

	.header nav{	
		max-width: 100%;
		padding: 0 20px;
	}
	  
	nav .content .links{
		margin-left: 30px;
	}
	.content .links li a{
		padding: 8px 13px;
	}
}

@media screen and (max-width: 900px){
	.header .menu-icon{
		display: block;
	}

	.header #show-menu:checked ~ .menu-icon i::before{
		content: "\X";
	}

	nav .content .links{
		display: block;
		position: fixed;
		background: #14181f;
		height: 100%;
		width: 100%;
		top: 70px;
		left: -100%;
		margin-left: 0;
		max-width: 350px;
		overflow-y: auto;
		padding-bottom: 100px;
		transition: all 0.3s ease;
	}

	nav #show-menu:checked ~ .content .links{
		left: 0%;
	}
	  
	.content .links li{
		margin: 15px 20px;
	}
	  
	.content .links li a, .content .links li label{
		line-height: 40px;
		font-size: 20px;
		display: block;
		padding: 8px 18px;
		cursor: pointer;
	}

	.content .links li a.desktop-link{
		display: none;
	}
	  
	.content .links ul, .content .links ul ul{
		position: static;
		opacity: 1;
		visibility: visible;
		background: none;
		max-height: 0px;
		overflow: hidden;
	}

	.content .links #show-recipe:checked ~ ul {
		max-height: 100vh;
	}

	.content .links ul li{
		margin: 7px 20px;
	}
  
	.content .links ul li a{
		font-size: 18px;
		line-height: 30px;
		border-radius: 5px!important;
  	}
}

/* Media Query */
@media screen and (max-width: 569px) {
.direct-contact-container, .form-wrapper {
	float: none;
	margin: 0 auto;
}  
.form-control, textarea {   
	margin: 0 auto;
}
  
.name, .email, textarea {
	width: 280px;
} 
  
.direct-contact-container {
	margin-top: 60px;
	max-width: 280px;
}  
.social-media-list {
	left: 0;
}
.social-media-list li {
	height: 55px;
	width: 55px;
	line-height: 55px;
	font-size: 2rem;
}
.social-media-list li:after {
	width: 55px;
	height: 55px;
	line-height: 55px;
	} 
}

@media screen and (max-width: 410px) {
.send-button {
	position: relative;
	width: 99%;
	}
}